
.custom-arrow.prev-arrow.left-center.hidden {
  display: none;
}

.custom-arrow.next-arrow.right-center.hidden {
  display: none;
}

.custom-arrow1.prev-arrow.left-center.hidden {
  display: none;
}

.custom-arrow1.next-arrow.right-center.hidden {
  display: none;
}
.w-75 {
    width: 82%;
    padding-top: 30px;
  }
  
  .m-auto {
    margin: auto;
  }
  
  .mt-20 {
    margin-top: 1vw;
  }
  
  .bg-white {
    background-color: #fff;
    border-radius: 50%;
  }
  
  .height-450 {
    height: 11vw;
  }
  
  .text-black {
    color: #000;
  }
  
  .rounded-xl {
    border-radius: 0.75rem;
  }
  
  .height-56 {
    height: 56px;
  }
  
  .bg-indigo-500 {
    background-color: #4f46e5;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .items-center {
    align-items: center;
  }
  
  .rounded-t-xl {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  
  .height-44 {
    height: 150px;
    border-radius: 50%;
  }
  
  .width-44 {
    width: 150px;
  }
  
  .flex-col {
    flex-direction: column;
  }

  


  .slick-track {
    padding: 0;
  }
  
  .text-xl {
    font-size: 9.25rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .padding-x-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .padding-y-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  /* Add more styles as needed */
  .slick-slide > div {
    margin: 0 0px;
  }
  
  .slick-dots li.slick-active button:before {
    color:orange !important;
  }  
 .slick-arrow slick-prev{
    background-color: yellow!important;
    color: aqua!important;
 }
 .slick-prev:before{
    font-size: larger;
    background-color: aquamarine;
 }
 .custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff; /* Customize the background color as needed */
  border: 1px solid #ddd; /* Customize the border as needed */
  padding: 3px; /* Adjust padding to control the size of the arrows */
  cursor: pointer;
  border-radius: 50%; /* Use 50% to create a circular shape */
  outline: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
}


.custom-arrow1 {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: #fff; /* Customize the background color as needed */
  border: 1px solid #ddd; /* Customize the border as needed */
  padding: 3px; /* Adjust padding to control the size of the arrows */
  cursor: pointer;
  border-radius: 50%; /* Use 50% to create a circular shape */
  outline: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .left-center {
    left: 0;
    z-index: 1000;
  }
  
  .right-center {
    right: 0;
  }
  .slick-slider {
    overflow: hidden; /* Ensure that the slider content doesn't overflow */
  }
  .kkk{
    /* max-width: 10px!important; */
    font-size: 15px;
    justify-content: center;
    margin-left: 1.8vw;
    /* font-weight: bold; */
  }
  .kkk1{
    /* max-width: 10px!important; */
    font-size: 14px;
    justify-content: center;
    margin-left: 4vw;
  }
  .top{
      font-size: 30px;
      padding: 20px 20px 20px 0px;
      /* font-weight: bold; */
  }
  .top1{
    font-size: 30px;
      padding: 20px 20px 20px 0px;

}
.top12{
  font-size: 36px;
    /* padding: 20px 20px 20px 0px; */
    padding: 20px;
    margin-left: 7.6vw;

}
