@font-face { 
    font-family:Okra;
    font-display:swap;
    src:url("https://b.zmtcdn.com/web_assets/9dd3d8fd6150ab3f8106f4a073d054521597921546.ttf") format("truetype"), url("https://b.zmtcdn.com/web_assets/bac203052382824f8c8fcd7668417f771597997180.woff2") format("woff2");
    font-style:normal;
    font-weight:100;
  } 
  @font-face { 
    font-family:Okra;
    font-display:swap;
    src:url("https://b.zmtcdn.com/web_assets/0a2cb1a22221afd4a5c4f59bde89afda1597921603.ttf") format("truetype"), url("https://b.zmtcdn.com/web_assets/0256637bc22e4c9e069ad868c196d29f1597997099.woff2") format("woff2");
    font-style:normal;
    font-weight:200;
  } 
  @font-face { 
    font-family:Okra;
    font-display:swap;
    src:url("https://b.zmtcdn.com/web_assets/6651f01000a2e122e587bb2282cb3ea21597921594.ttf") format("truetype"), url("https://b.zmtcdn.com/web_assets/081152f7adf53200c7f8789005ca54ca1597997115.woff2") format("woff2");
    font-style:normal;
    font-weight:300;
  } 
  @font-face { 
    font-family:Okra;
    font-display:swap;
    src:url("https://b.zmtcdn.com/web_assets/aead83936ff20e860667e0a18f26d7571597921574.ttf") format("truetype"), url("https://b.zmtcdn.com/web_assets/c750382e5207a1a41cdcb496ef2326d51597997149.woff2") format("woff2");
    font-style:normal;
    font-weight:400;
  } 
  @font-face { 
    font-family:Okra;
    font-display:swap;
    src:url("https://b.zmtcdn.com/web_assets/1674f573eef1f8ba15be69b44aab4d401597921585.ttf") format("truetype"), url("https://b.zmtcdn.com/web_assets/b27921d5a95f787012c8e9dfbb86c2751597997132.woff2") format("woff2");
    font-style:normal;
    font-weight:500;
  } 
  @font-face { 
    font-family:Okra;
    font-display:swap;
    src:url("https://b.zmtcdn.com/web_assets/df06bf5a1ce831e889b3b07f3bab84d61597921557.ttf") format("truetype"), url("https://b.zmtcdn.com/web_assets/8e7505f4e7be967217d81781b49425bc1597997165.woff2") format("woff2");
    font-style:normal;
    font-weight:600;
  } 
  @font-face { 
    font-family:Okra;
    font-display:swap;
    src:url("https://b.zmtcdn.com/web_assets/def01ba19fdf2476f0fc1904e4195e011597921623.ttf") format("truetype"), url("https://b.zmtcdn.com/web_assets/1792d65b5545ef5781d92cf519ad47c21597997060.woff2") format("woff2");
    font-style:normal;
    font-weight:700;
  } 
  @font-face { 
    font-family:Okra;
    font-display:swap;
    src:url("https://b.zmtcdn.com/web_assets/e791ade4b99ef84be3ac11a07f2a774c1597921614.ttf") format("truetype"), url("https://b.zmtcdn.com/web_assets/c596984d29a9ca0a7995ac6f4d9ac6461597997080.woff2") format("woff2");
    font-style:normal;
    font-weight:800;
  } 
  @font-face { 
    font-family:"Okra";
    font-display:swap;
    src:url(https://b.zmtcdn.com/data/okra-regular/80f33563c4bc7a4e57422cfa3077297e1562672681.ttf) format("truetype"),url(https://b.zmtcdn.com/web_assets/dc12ecc2eb75e0ba75fc9eee7939fb601563289146.woff2) format("woff2");
    font-style:normal;
    font-weight:400;
  } 
  @font-face { 
    font-family:"Okra";
    font-display:swap;
    src:url(https://b.zmtcdn.com/data/okra-medium/9646f8fefe027d010d5be85082cf9c1f1562672657.ttf) format("truetype"),url(https://b.zmtcdn.com/web_assets/5e9f7b312ce52bfae150cbbd2a946fde1563289123.woff2) format("woff2");
    font-style:normal;
    font-weight:500;
  } 
  @font-face { 
    font-family:"Okra";
    font-display:swap;
    src:url(https://b.zmtcdn.com/data/okra-bold/3df3305730179dd180b8acb555d1b7341562672566.ttf) format("truetype"),url(https://b.zmtcdn.com/web_assets/4bca1340d3e9b7e44c1cd9acb23b3e941563336526.woff2) format("woff2");
    font-style:normal;
    font-weight:600;
  } 

  
  .fro div { 
      font-size: 1rem;
  } 
  



  
  html { 
      box-sizing: border-box;
  } 
  
  .WeojD { 
      width: 20rem; 
      margin-left: 3rem; 
      padding-top: 1rem;
  } 
  
  *,:after,:before { 
      box-sizing: inherit; 
      -webkit-tap-highlight-color: transparent;
  } 
  
  .cMipmx { 
      width: 100%; 
      position: relative; 
      display: flex; 
      flex-wrap: wrap;
  } 
  
  .gxEyBQ { 
      position: relative; 
      width: 100%; 
      -webkit-box-flex: 0; 
      flex-grow: 0; 
      flex-shrink: 0; 
      max-width: 66.6667%; 
      padding: 0px;
  } 
  
  .gkfWoO { 
      position: relative; 
      width: 100%; 
      -webkit-box-flex: 0; 
      flex-grow: 0; 
      flex-shrink: 0; 
      max-width: 33.3333%; 
      padding: 0px; 
      display: flex; 
      font-size: 12px; 
      -webkit-box-pack: end; 
      justify-content: flex-end; 
      -webkit-box-align: center; 
      align-items: center; 
      color: rgb(39, 129, 231); 
      cursor: pointer;
  } 
  
  .goacbn { 
      margin: 1rem 0rem; 
      padding: 1.5rem 1.5rem; 
      width: 40rem; 
      border: 1px solid rgb(232, 232, 232); 
      box-sizing: border-box; 
      border-radius: 6px; 
      position: static;
  } 
  
  .glOEXA { 
      font-size: 1.6rem; 
      /* line-height: 4.8rem;  */
      color: rgb(54, 54, 54);
  } 
  
  .cfFHce { 
      color: rgb(130, 130, 130); 
      font-size: 1rem; 
      line-height: 2.4rem; 
      display: flex;
  } 
  
  .UenWV { 
      margin: 3rem 0rem 0rem;
  } 
  
  .dgZBBf { 
      position: relative; 
      width: 100%; 
      -webkit-box-flex: 0; 
      flex-grow: 0; 
      flex-shrink: 0; 
      max-width: 91.6667%; 
      padding: 0px;
  } 
  
  .hYxBvJ { 
      position: relative; 
      width: 100%; 
      -webkit-box-flex: 0; 
      flex-grow: 0; 
      flex-shrink: 0; 
      max-width: 8.33333%; 
      padding: 0px; 
      -webkit-box-pack: end; 
      justify-content: flex-end; 
      -webkit-box-align: center; 
      align-items: center; 
      display: flex;
  } 
  
  .dASGSt { 
      margin: 1.8rem 0rem; 
      width: auto;
  } 
  
  .gNzEyA { 
      font-size: 1rem; 
      line-height: 2.8rem; 
      color: rgb(54, 54, 54); 
      font-weight: 500;
  } 
  
  .bdfiBP { 
      border: 1px solid rgb(156, 156, 156); 
      padding: 1px; 
      border-radius: 50%; 
      cursor: pointer;
  } 
  
  .fCKKkK { 
      position: relative; 
      width: 100%; 
      -webkit-box-flex: 0; 
      flex-grow: 0; 
      flex-shrink: 0; 
      max-width: 100%; 
      padding: 0px; 
      font-size: 14px;
  } 
  
  .cEWJMv { 
      box-shadow: initial; 
      border-radius: 0.6rem; 
      padding: 0rem;
  } 
  
  .MxLSp { 
      display: flex; 
      -webkit-box-align: center; 
      align-items: center; 
      cursor: inherit;
  } 
  
  .dfXnsL { 
      padding: 0px; 
      display: flex; 
      -webkit-box-align: center; 
      align-items: center; 
      -webkit-box-pack: justify; 
      justify-content: space-between;
  } 
  
  .kbnxWN { 
      border: 1.5px dotted rgb(207, 207, 207); 
      background: rgb(255, 255, 255); 
      border-radius: 2px; 
      position: relative; 
      opacity: 1; 
      /* width: 100%; */
  } 
  
  .kIxlGM { 
      display: inline-block; 
      vertical-align: middle; 
      line-height: 1; 
      width: 20px; 
      height: 20px;
  } 
  
  .cEWJMv label  { 
      font-size: 13px; 
      line-height: 20px;
  } 
  
  .kbnxWN .drop-target  { 
      position: absolute; 
      left: 0px; 
      top: 0px; 
      width: 100%; 
      height: 100%;
  } 
  
  .kFFNyT { 
      max-height: 391px; 
      overflow-y: scroll;
  } 
  
  .fePyhL .btn-wrapper-url-view  { 
      display: flex; 
      -webkit-box-pack: center; 
      justify-content: center; 
      padding: 2rem 0px 2.5rem; 
      color: rgb(156, 156, 156);
  } 
  
  .iOCmdk { 
      margin: 0px 0.5rem 3.2rem; 
      display: flex; 
      flex-wrap: wrap; 
      -webkit-box-pack: center; 
      justify-content: center;
  } 
  
  .fro span { 
      font-size: 1rem;
  } 
  
  .bDIRbX { 
      position: relative; 
      overflow: hidden; 
      display: inline-block; 
      color: rgb(54, 54, 54); 
      margin-left: 0.5rem; 
      text-decoration: underline;
  } 
  
  input { 
      font-family: Okra;
  } 
  
  input { 
      font-family: Okra, Helvetica, sans-serif;
  } 
  
  .TEbQz { 
      width: 100%; 
      cursor: pointer; 
      font-size: 0.5rem; 
      position: absolute; 
      left: 0px; 
      top: 0px; 
      opacity: 0; 
      height: 2rem; 
      margin: 0px;
  } 
  
  .fCwxlj { 
      border-radius: 4px; 
      opacity: 1; 
      object-fit: initial; 
      margin: 1rem 0px 2rem; 
      width: 10rem; 
      height: 10rem; 
      padding: 0px;
  } 
  
  .ixBRpR { 
      width: 100%; 
      cursor: pointer; 
      font-size: 1rem; 
      position: absolute; 
      left: 0px; 
      top: 0px; 
      opacity: 0; 
      height: 10rem; 
      margin: 1rem 0px 2rem;
  } 
  
  

  #style-6PJoE.style-6PJoE {  
     cursor: pointer;  
  }  
  #style-sEhYa.style-sEhYa {  
     cursor: pointer;  
  }  
  #style-S9kJt.style-S9kJt {  
     cursor: pointer;  
  }  
  